*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 80px auto auto 80px;
    grid-template-areas:    "header header header header"
                            "navbar navbar navbar navbar"
                            "main   main   main   main"
                            "sidebar sidebar sidebar sidebar"
                            "footer footer footer footer";
}

.navbar{
    grid-area: navbar;
    background-color: #0a1266;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    padding: 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.logo img {
    width: 64px;
}

.header{
    grid-area: header;
    background-image: url("../img/piasaje.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
.headerInfo{
    padding: 10px;
    margin-left: 10px;
}
.header h1{
    color: white;
}
.header p {
    color: white;
}
.btn{
    width: 100px;
    background-color: #121fb3 ;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 10px;
}
.main{
    grid-area: main;

}
.main h2{
    margin: 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
}
.card img{
    width: 250px;
}
.cardInfo{
    width: 250px;
    margin: 10px 0;
}

.sidebar{
    grid-area: sidebar;
    background-color: crimson;
}
.footer{
    grid-area: footer;
    background-color: chartreuse;
}

@media(min-width:576px){
    .container{

        grid-template-rows: 250px 80px auto  80px;
        grid-template-areas: "header header header header"
                             "navbar navbar navbar navbar"
                             "main   main   main   sidebar"
                             "footer footer footer footer";
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .card {
        width: 450px;
        flex-direction: row;
    }
    .card img{
        width: 150px;
    }
    .cardInfo{
        margin: 0px 0;
    }
    
    

}

@media(min-width:768px){
    .container{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 300px 80px auto  80px;
        grid-template-areas: "header header header header   header   header"
                             "navbar navbar navbar navbar   navbar   navbar"
                             "main   main   main   main     sidebar  sidebar"
                             "footer footer footer footer   footer   footer";
    }

}

@media(min-width:1200px){
    .container{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 300px 80px auto  80px;
        grid-template-areas: "header header header header   header   header"
                             "navbar navbar navbar navbar   navbar   navbar"
                             "main   main   main   main     main  sidebar"
                             "footer footer footer footer   footer   footer";
    }
}
